<footer class="page-footer light-blue">
  <h5 class="center-align">Contact Us</h5>
  <div class="container">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </div>
        </div>
        <a class="waves-effect waves-light btn white"><i class="material-icons left">send</i>Send</a>
      </form>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="http://materializecss.com">UBC NTG 2017</a>
    </div>
  </div>
</footer>
