<div class="navbar">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">UBC NTG</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about">About</a></li>
        <li><a href="#">Executive Team</a></li>
        <li><a href="#events">Events</a></li>
        <li *ngIf="auth.user | async; then loggout else login"></li>
      </ul>
  
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#about">About NTG</a></li>
        <li><a href="#">Executive Team</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<ng-template #login>
  <a class="waves-effect waves-light btn purple" (click)="auth.facebookLogin()">Login</a>
</ng-template>

<ng-template #loggout>
  <a class="waves-effect waves-light btn purple" (click)="auth.signOut()">Loggout</a>
</ng-template>