<div class="section no-pad-bot" id="index-banner"></div>
  <!--<div class="container">
    <br><br>
    <h1 class="header center orange-text">Starter Template</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>
  </div>-->
  <!--<div class="container">
    <div class="carousel carousel-slider">
      <a href="#one!" class="carousel-item">
        <img class="img-carousel" src="../assets/images/icebreak.jpg" alt="">
      </a>
      <a href="#two!" class="carousel-item">
        <img class="img-carousel" src="../assets/images/icebreak.jpg" alt="">
      </a>
      <a href="#three!" class="carousel-item">
        <img class="img-carousel" src="../assets/images/icebreak.jpg" alt="">
      </a>
    </div>
  </div>
</div>-->
<div class="container">
  <div *ngIf="auth.user | async; then authenticated else guest">

  </div>
</div>

<ng-template #guest>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="../../../assets/images/boothntg.jpg" alt="">
        <div class="caption left-align">
          <h3>This is our tagline</h3>
          <h5 class="light grey-text text-lighten-3">Here is our slogan</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/icebreak.jpg" alt="">
        <div class="caption center-align">
          <h3>This is our tagline</h3>
          <h5 class="light grey-text text-lighten-3">Here is our slogan</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/images/maid.jpg" alt="">
        <div class="caption right-align">
          <h3>This is our tagline</h3>
          <h5 class="light grey-text text-lighten-3">Here is our slogan</h5>
        </div>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #authenticated>
  <br><br>
  <div *ngIf="auth.user | async as user">
    <h2 class="header center orange-text">Welcome {{user.displayName}}</h2>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s2">
                  <img [src]="user.photoURL" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                  <span class="black-text">
                    Open your personal dashboard to sign up for new events and promotions!
                  </span>
                </div>
              </div>
              <div class="row center">
                  <a id="download-button" class="btn waves-effect waves-light orange">Open Dashboard</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</ng-template>

<div id="about" class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">info</i></h2>
          <h5 class="center">About Us</h5>

          <p class="light">UBC New Taiwanese Generation (NTG) is a group of student leaders who wish to foster and grow the Taiwanese community on the UBC Campus through promoting events and activities centered around student bonding and Taiwanese culture.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Events</h5>

          <p class="light">Every semester, we aim to create at least 3 large student events to help bring our members together. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
  <br>
</div>

<div id = "events" class="container">
  <div class="section">
    <h5>Upcoming Events</h5>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../../assets/images/ssg.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Running Man 2017<i class="material-icons right">more_vert</i></span>
              <p><a href="#">More Info</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Running Man 2017<i class="material-icons right">close</i></span>
              <p class="flow-text">Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
      </div>
      <div class="col s12 m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/icebreak.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Eggbreaker 2017<i class="material-icons right">more_vert</i></span>
                <p><a href="#">More Info</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Eggbreaker 2017<i class="material-icons right">close</i></span>
                <p class="flow-text">Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="section">
      <h5>Past Events</h5>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/images/boothntg.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Imagine Day 2017<i class="material-icons right">more_vert</i></span>
                <p><a href="#">More Info</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Imagine Day 2017<i class="material-icons right">close</i></span>
                <p class="flow-text">Come find NTG and NTGx along Main Mall! Bringing you information about lots of exciting opportunities and events for the upcoming school year</p>
              </div>
          </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/images/maid.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Maid Cafe<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">More Info</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Maid Cafe<i class="material-icons right">close</i></span>
                  <p class="flow-text">Come join NTG for an evening of exciting dining events!</p>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>
<!-- FIXED ACTION BUTTON -->
<div class="fixed-action-btn">
    <a href='#' class="btn-floating red btn-large"><i class="large material-icons">arrow_upward</i></a>
    <ul>
      <li><a href='#about' class="btn-floating yellow btn-large"><i class="large material-icons">info</i></a></li>
      <li><a href='#events' class="btn-floating blue btn-large"><i class="large material-icons">event</i></a></li>
      <li><a href='#' class="btn-floating green btn-large"><i class="large material-icons">dashboard</i></a></li>
    </ul>
  </div>